@charset "utf-8";

figure.vid {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

figure.vid video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main.wrap {
  position: relative;
  padding-top: 80px;
}

main h2 {
  font-family: var(--Roboto-serif);
  font-size: 12rem;
  color: var(--w-color);
  font-weight: 400;
  letter-spacing: .3rem;
  opacity: .8;
}

main h3 {
  font-family: var(--Playfair);
  font-size: 12rem;
  color: var(--w-color);
  font-weight: 500;
  text-shadow: 0 0 10px rgba(54, 5, 5, 0.41);
  position: relative;
}

main strong {
  color: var(--w-color);
}

/* more */
a.more {
  display: flex;
  align-items: center;
  gap: 40px;
  font-family: "Open Sans", serif;
  font-weight: 800;
  color: var(--w-color);
  font-size: 2rem;
  letter-spacing: 1px;
}

a.more .plus {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid var(--w-color);
  position: relative;
}

a.more .plus::before {
  content: '';
  display: block;
  width: 26px;
  height: 2px;
  background: var(--w-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

a.more .plus::after {
  content: '';
  display: block;
  width: 2px;
  height: 26px;
  background: var(--w-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.txt_box strong {
  display: block;
  line-height: 1.6;
  margin-block-start: 8vh;
  margin-block-end: 5vh;
  font-size: 1.7rem;
}

/* main_visual */
.main_visual {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

/* brand_story */
.brand_story {
  width: 100%;
  height: 100vh;
  margin-block: 20vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: var(--w-color);
}

.brand_story .inner {
  position: relative;
}

.brand_story .img_box {
  width: 900px;
  height: 500px;
  background: url(../asset/img/tree_banner.jpg) center/cover;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 40px;
}

.brand_story .txt_box {
  position: relative;
}

/* best_product */
.best_product {
  margin-block: 50vh;
}

.best_product .inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 150vh;
}

.best_product h3 {
  width: 100%;
  margin-bottom: 100px;
}

.best_product .txt_box {
  width: 20%;
  height: 50vh;
  position: sticky;
  top: 80px;
}

.best_product .right_box {
  width: 60%;
  min-width: 1000px;
  height: 1620px;
}

.best_product .right_box ul {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  align-content: space-between;
}

.best_product .right_box ul li {
  width: 40%;
  height: 40%;
  border-radius: 50px;
  background: url(../asset/img/product01.jpg) center/cover;
}

.best_product .right_box ul li:nth-child(2n) {
  margin-top: 300px;
}

.best_product .right_box ul li:nth-child(2) {
  background-image: url(../asset/img/product02.jpg);
}

.best_product .right_box ul li:nth-child(3) {
  background-image: url(../asset/img/product03.jpg);
}

.best_product .right_box ul li:nth-child(4) {
  background-image: url(../asset/img/product04.jpg);
}

.best_product .right_box ul li:hover {
  background: var(--main-yellow-l);
}

.best_product .right_box ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: #000;
}

.best_product .right_box ul li:hover a {
  justify-content: center;
  align-items: center;
}

.best_product .right_box ul li a strong {
  font-size: 1.7rem;
  font-weight: 500;
  color: #000;
  line-height: 1.8;
}

.best_product .right_box ul li:hover a strong {
  display: none;
}

.best_product .right_box ul li a span {
  font-size: 1.3rem;
}

.best_product .right_box ul li:hover a span {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.2;
}

.best_product .right_box ul li a em {
  font-family: var(--Roboto-serif);
  font-size: 1.3rem;
  display: none;
}

.best_product .right_box ul li:hover a em {
  display: inline;
}

/* our_business */
.our_business {
  overflow: hidden;
}

.our_business h3 {
  padding: 150px 0;
}

.our_business .list ul li {
  width: 100%;
  height: 500px;
  border-radius: 50px;
  margin-block-start: 10vh;
  background: #ccc;
  color: #fff;
  transition: .5s;
  background-size: cover;
  background-position: center;
  filter: saturate(70%) contrast(80%);
}

.our_business .list ul li:nth-child(1) {
  background-image: url(../asset/img/business01.jpg);
}

.our_business .list ul li:nth-child(2) {
  background-image: url(../asset/img/business02.jpg);
}

.our_business .list ul li:nth-child(3) {
  background-image: url(../asset/img/business03.jpg);
}

.our_business .list ul li:hover {
  filter: saturate(100%) contrast(120%);
}

.our_business .list ul li a {
  display: flex;
  flex-direction: column;
  padding: 80px;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}

.our_business .list ul li a h4 {
  font-size: 3.5rem;
  letter-spacing: 1.5px;
  font-weight: 500;
}

.our_business .list ul li a p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  margin-top: 20px;
}

/* instargram */
.instargram {
  margin-top: 150px;
  height: 100vh;
  color: #fff;
  font-size: 2rem;
  font-family: var(--Roboto-serif);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.instargram .list {
  margin: 100px 0;
}

.instargram .list ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.instargram .list ul li {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  transition: .6s;
  background: #ccc;
}

.instargram .list ul li:hover {
  filter: brightness(80%) contrast(80%);
}

.instargram .list ul li a {
  width: 100%;
  height: 100%;
  display: block;
}

.instargram .list ul li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}